In [2]:
%pip install scikit-learn pandas numpy matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

166.84s - pydevd: Sending message related to process being replaced timed-out after 5 seconds
Requirement already satisfied: scikit-learn in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (1.3.2)
Requirement already satisfied: pandas in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (1.26.1)
Requirement already satisfied: matplotlib in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: scipy>=1.5.0 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from matplotlib) (4.44.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: six>=1.5 in /Users/mark/anaconda3/envs/dsfs/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Data is multiclass classification (as opposed to binary classification)
# so we will have multiple class labels

df = pd.read_csv('data/drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [14]:
df.count()

Age            200
Sex            200
BP             200
Cholesterol    200
Na_to_K        200
Drug           200
dtype: int64

In [15]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [16]:
df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [19]:
df['Drug'].value_counts()

Drug
drugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: count, dtype: int64

In [23]:
# X = Feature Matrix
X = df[['Age','Sex','BP','Cholesterol','Na_to_K']].values #.values converts the dataframe to a numpy array
X[0:5]

array([[23, 'F', 'HIGH', 'HIGH', 25.355],
       [47, 'M', 'LOW', 'HIGH', 13.093],
       [47, 'M', 'LOW', 'HIGH', 10.114],
       [28, 'F', 'NORMAL', 'HIGH', 7.798],
       [61, 'F', 'LOW', 'HIGH', 18.043]], dtype=object)

In [24]:
# Cool way to convert categorical variables to numerical values
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(['F','M'])
X[:,1] = le.transform(X[:,1])

le.fit([ 'LOW', 'NORMAL', 'HIGH'])
X[:,2] = le.transform(X[:,2])

le.fit([ 'NORMAL', 'HIGH'])
X[:,3] = le.transform(X[:,3])

X[0:5]

array([[23, 0, 0, 0, 25.355],
       [47, 1, 1, 0, 13.093],
       [47, 1, 1, 0, 10.114],
       [28, 0, 2, 0, 7.798],
       [61, 0, 1, 0, 18.043]], dtype=object)

In [26]:
# y = response vector(target variable)
y = df['Drug']
y[0:5]

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object